<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\Users\Nico\source\repos\RoomBook_v1\RoomBook_v1\internal_logs\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="c:\Users\Nico\source\repos\RoomBook_v1\RoomBook_v1\logs\${shortdate}_logfile.txt"            
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>